* {
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    background:#F9F9F9;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}

.wrapper {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.bg-gray {
    background-color: #EBEBEB;
}
.section {
    padding-top: 140px;
    padding-bottom: 140px;
}
.title {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}
.caption {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #bdbdbd;
}
.top .caption {
    margin-bottom: 40px;
}
.btn {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;
   border: none;
   outline: none;
   background-color: #005fa3; 
   padding: 19px 18px;
   min-width: 270px;
}
.btn:hover {
   background-color: #0777c7; 
   transition: all 0.3s;
}
.arrows {
    display: flex;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #005fa3;
    cursor: pointer;
    transition: all 0.3s;
}
.arrows_white .arrow {
    background: rgb(255, 255, 255, 0.2);
}
.arrows_white .arrow:hover {
    background: rgb(255, 255, 255, 0.4);
    transition: all 0.3s;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    opacity: 0.4;
    cursor: pointer;
    transition: all .3s;
} 
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    transition: all 0.3s;
}
.header {
    padding: 22px 0px;
}

.header_wrap, 
.header_logo, 
.header_info, 
.header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    font-family: "Merriweather", serif;
    gap: 30px;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #005fa3;
}
.header_info {
    gap: 40px;
    margin-bottom: 22px;
}
.header_box {
    gap: 15px;
}
.header_icon {
    height: 17px;
    display: flex;
    align-items: center;
}
.header_icon img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.header_value {
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 17px;
    color:#000000; 
}
.header_menu ul {
    display: flex;
    gap: 68px;
    padding: 0;

}
.header_menu ul li a {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
}
.promo {
    position: relative;
}
.promo_slide {
    position: relative;
    height: 670px;
    display: flex;
    align-items: center;
}
.promo_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.promo_wrap {
    max-width: 590px;
    position: relative;
    z-index: 10;
    top: -50px;
}
.promo_title {
    color:#fff;
    margin-bottom: 80px;
}
.promo .wrapper {
    width: 100%;
}
.promo_buttom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 110px;
    z-index: 11;
}
.promo_nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.promo_nav .swiper-pagination {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    width: auto;
    gap: 40px;
}

.services_row {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.services_coll {
    display: flex;
    align-items: flex-end;
    padding: 45px;
    width: calc(33.333% - 20px);
    height: 360px;
    position: relative;
}
.services_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.services_img img {
    width: 100%;
    height: 100%;
   object-fit: cover;
}
.services_img::before,
.services_img::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(233, 4, 4, 0.65), rgba(0, 233, 246, 0.65));
    z-index: 2;
    transition: all 0.3s;
}
.services_img::after {
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65));
    opacity: 0;
}
.services_coll-caption {
    line-height: 30px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}
.services_coll:hover .services_img::before {
    opacity: 0;
    transition: all 0.3s;
}
.services_coll:hover .services_img::after {
    opacity: 1;
    transition: all 0.3s;
}
